traffic {
  position: fixed;
  left: 60px;
  bottom: 60px; }
  traffic .position_info {
    margin-left: 5px;
    margin-top: 10px;
    z-index: 9999;
    position: absolute; }
    traffic .position_info i {
      padding-right: 8px; }
    traffic .position_info .move_me {
      animation: mover 1s linear infinite; }

@keyframes mover {
  50% {
    transform: translate(-5px, 0); } }
  traffic #gmap, traffic #map {
    z-index: -1;
    margin-top: 15px;
    height: 19em;
    width: 19em;
    position: relative;
    overflow: hidden;
    margin-left: -40px;
    opacity: 0.6; }
  traffic .map_overlay {
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 0;
    width: 19em;
    height: 19em;
    margin-left: -40px;
    background-size: cover;
    background-image: url("app/assets/map_overlay.png"); }
  traffic h2 {
    color: #ea5829;
    font-weight: 300;
    margin: 8px 0px; }
  traffic .last_move {
    margin-top: -25px; }
