traffic{
  position: fixed;
  left: 60px;
  bottom: 60px;

  .position_info{
    margin-left: 5px;
    margin-top: 10px;
    z-index: 9999;
    position: absolute;

    i{
      padding-right: 8px;
    }
    .move_me {
      animation: mover 1s linear infinite;
    }
    @keyframes mover {
      50% { transform: translate(-5px,0); }
    }
  }

  #gmap,#map{
    z-index: -1;
    margin-top: 15px;
    height: 19em;
    width: 19em;
    position: relative;
    overflow: hidden;
    margin-left: -40px;
    opacity: 0.6;
  }

  .map_overlay{
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 0;
    width: 19em;
    height: 19em;
    margin-left: -40px;
    background-size: cover;
    background-image: url('app/assets/map_overlay.png');
  }

  h2{
    color: #ea5829;
    font-weight: 300;
    margin: 8px 0px;
  }

  .last_move{
    margin-top: -25px;
  }

  .fuel_level{
  }
}
