tweetline {
  position: fixed;
  right: 60px;
  bottom: 60px;
  max-width: 300;
  height: 150;
  text-align: right;

  h1{
    margin-bottom: 20px;
  }

  .tweet{
    animation: fadein 2s;
    margin-bottom:10px;
    img {
      width:15px;
    }
    h2{
      color: #ea5829;
      font-weight: 300;
    }
  }

  .to-fade-out{
    animation : fadeout 2s;
  } 

}

