agenda {
  position: fixed;
  right: 60px;
  top: 340px;
  max-width: 300;
  max-height: 200;
  text-align: right;

  h1{
    margin-bottom: 20px;
  }

  .session{
    animation: fadein 2s;
    margin-bottom:10px;
    img {
      width:30px;
    }
    h2{
      color: #ea5829;
      font-weight: 300;
    }
    .session-location {
      //display: inline-block;
      color: #ea5829;
    }
    .speaker {
      display: inline-block;
    }
  }

  .to-fade-out{
    animation : fadeout 2s;
  } 

}

