agenda {
  position: fixed;
  right: 60px;
  top: 340px;
  max-width: 300;
  max-height: 200;
  text-align: right; }
  agenda h1 {
    margin-bottom: 20px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  agenda .session {
    animation: fadein 2s;
    margin-bottom: 10px; }
    agenda .session img {
      width: 30px; }
    agenda .session h2 {
      color: #ea5829;
      font-weight: 300; }
    agenda .session .session-location {
      color: #ea5829; }
    agenda .session .speaker {
      display: inline-block; }
  agenda .to-fade-out {
    animation: fadeout 2s; }
